@import "vars"

.card-course
  border-radius: 20px
  overflow: hidden
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.07)
  .btn
    width: 100%
    padding: 15px
    font-size: 20px
    font-weight: 500
    border-radius: 0px 0px 20px 20px

  .card-news__img
    position: relative
    border-radius: 20px
    overflow: hidden
    height: 212px


.date-course
  font-size: 14px

.card-label
  position: absolute
  left: 0
  top: 0
  z-index: 1
  color: #fff
  font-weight: bold
  padding: 5px 33px

.course-status
  border-radius: 20px 0

.course-sale
  border-radius: 20px 0
  top: auto
  left: auto
  right: 0
  bottom: 0

.card-webinar
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.07)
  border-radius: 20px
  overflow: hidden
  .btn
    padding: 13px
    font-size: 16px
  .card-news__img
    border-radius: 20px
    height: 212px

.card-webinar__footer
  padding: 0 24px 24px
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  .btn
    width: calc(100% - 55px)

.btn-notification
  width: 45px
  height: 45px
  min-width: 45px
  display: flex
  align-items: center
  justify-content: center
  padding: 0
  border: 1px solid #FFB74B
    radius: 10px
  .svg-icon
    width: 24px
    height: 24px

.category-webinars
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-end
  flex-wrap: wrap
  margin: 0 0 20px

.category-webinars__it
  display: flex
  align-items: center
  color: #FFB74B
  padding: 9px 24px
  border: 1px solid #FFB74B
    radius: 20px
  margin: 0 8px 4px 0
  &:last-child
    margin: 0 0 4px
  img
    margin: 0 0 0 3px

.category-webinars__money
  padding: 9px 12px

.webinars-page
  .wrapper-content
    padding: 24px 15px

.webinar-img
  width: 100%
  height: 288px
  border-radius: 20px
  overflow: hidden
  img
    width: 100%
    height: 100%
    object-fit: cover

.webinar-description
  margin: 32px 0 0
  padding: 0 18px
  h3
    margin: 0 0 16px
  .btn
    margin: 18px auto 0
    padding: 13px
    max-width: 319px
    width: 100%

.webinar-author
  margin: 30px auto
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap

.webinar-author__certificate
  max-width: 248px
  width: 100%
  border: 1px solid rgba(255, 183, 75, 0.55)
    radius: 5px
  padding: 0 30px 18px
  text-align: center
  font-size: 14px
  font-weight: 500
  letter-spacing: -0.005em
  margin: 53px 0 0
  .img
    margin: -53px auto 17px
    box-shadow: 0px 0px 10px 4px rgba(196, 196, 196, 0.29)

.webinar-author__box
  width: calc(100% - 248px)
  padding: 0 40px 0 0

.webinar-author__box-wrap
  display: flex
  align-items: center
  width: 100%
  .box-text
    padding: 0 0 0 20px
    letter-spacing: -0.005em
    font-size: 14px
  h4
    font-size: 16px
    color: $accent
    margin: 0 0 9px
    font-style: italic
    font-weight: 500

.webinar-author__photo
  width: 97px
  height: 97px
  min-width: 97px
  display: flex
  align-items: center
  justify-content: center
  overflow: hidden
  border-radius: 50%
  img
    width: 100%
    height: 100%
    object-fit: cover

.card-my-course
  border-radius: 20px
  .btn
    width: 100%
    padding: 13px
    margin: 16px auto 0
  .card-news__img
    height: 212px
    border-radius: 20px

//course page
.course-banner
  background: #fff
  border-radius: 30px
  box-shadow: 0px 0px 20px 4px rgba(0, 0, 0, 0.07)
  display: flex
  align-items: center
  position: relative
  overflow: hidden
  flex-wrap: wrap

.course-banner-img
  max-width: 349px
  height: 100%
  width: 100%
  display: flex
  align-items: center
  justify-content: center
  border-radius: 0 20px 20px 0
  overflow: hidden
  position: absolute
  right: 0
  top: 0
  img
    width: 100%
    height: 100%
    object-fit: cover

.course-banner-content
  position: relative
  padding: 24px 30px
  width: calc(100% - 200px)
  z-index: 1
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 100%
    clip-path: polygon(0 0, 100% 0%, 78% 100%, 0% 100%)
    background: #fff
    z-index: -1
  h1
    margin: 0 0 8px
  .box-text
    font-size: 18px

.course-price
  font-size: 20px
  font-weight: 500
  margin: 0 50px 0 0

.course-banner-info
  width: 100%
  display: flex
  align-items: center
  flex-wrap: wrap
  margin: 24px 0
  li
    margin: 0 45px 0 0
    &:last-child
      margin: 0
  strong
    font-weight: 500
    span
      font-style: italic
      color: rgba(67, 67, 67, 0.8)
      font-weight: normal


.course-banner__footer
  width: 100%
  display: flex
  align-items: center
  justify-content: flex-start
  flex-wrap: wrap
  .btn
    border-radius: 50px
    padding: 10px 25px

.accordion-course
  border-radius: 10px
  overflow: hidden
  border: 1px solid rgba(255, 200, 117, 0.2)
  margin: 0 0 39px
  .card.card-course-panel
    border-bottom: 1px solid rgba(255, 200, 117, 0.2)

.card.card-course-panel
  border-bottom: 1px solid rgba(255, 200, 117, 0.2)
  margin: 0
  &:last-child
    border: none
  .card-header
    padding: 14px 20px
    border: none
      radius: 0
    background: #FFF7EB
    display: flex
    align-items: center
    flex-wrap: wrap
    cursor: pointer
    color: #434343
    &:hover
      background: #FFF7EB
  .card-body
    padding: 15px 20px


.card-header__icon
  display: flex
  align-items: center
  justify-content: center
  width: 24px
  height: 24px
  min-width: 24px
  margin: 0 11px 0 0

.lesson-value
  margin: 0 39px 0 auto
  font-weight: normal
  font-size: 16px

.lesson-time
  font-weight: normal
  font-size: 16px

.list-details-lesson
  li
    display: flex
    align-items: center
    margin: 0 0 6px
    &:last-child
      margin: 0
  .lesson-value, .lesson-time
    margin: 0 0 0 auto

.btn-participation
  margin: 0 auto
  height: 45px
  max-width: 286px
  width: 100%

.question-answer
  width: 100%
  margin: 36px 0 0
  h2
    text-align: center
    margin: 0 auto 24px
    font-size: 24px

.accordion-question
  .card.card-accordion-question
    border-radius: 15px

.card.card-accordion-question
  margin: 0 0 20px
  background: linear-gradient(180deg, rgba(255, 183, 75, 0.6) 0%, #FFA825 100%)
  border-radius: 15px
  overflow: hidden
  color: #fff
  &:last-child
    margin: 0
  .card-header
    width: 100%
    display: flex
    align-items: flex-start
    justify-content: space-between
    border-radius: 15px
    padding: 20px 20px 20px 30px
    font-size: 18px
    color: #fff
    font-weight: 500
    margin: 0
    &:hover
      background: transparent
  .card-body
    padding: 0 23px 20px 30px
    font-size: 14px
  .card-accordion-question__icon
    background: rgba(255, 255, 255, 0.29)
    &:before, &:after
      background: #fff
      left: 5px
      width: 13px
      top: 11px
      transform: none
    &:before
      transform: rotate(-45deg)
    &:after
      transform: rotate(-135deg)

.card.card-accordion-question.collapsed
  background: #F4F4F4
  color: #757575
  .card-header
    color: #757575
  .card-accordion-question__icon
    background: rgba(117, 117, 117, 0.17)
    &:before, &:after
      content: ''
      position: absolute
      background: #757575
      border-radius: 3px
      width: 8px
      height: 2px
      top: 50%
      transform: translate(0,-50%)
    &:before
      transform: rotate(-135deg)
      left: 5.5px
    &:after
      transform: rotate(-45deg)
      right: 5.5px
      left: auto


.card-accordion-question__icon
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  position: relative
  transition: .3s ease
  background: rgba(117, 117, 117, 0.17)
  width: 23px
  height: 23px
  min-width: 23px
  &:before, &:after
    content: ''
    position: absolute
    background: #757575
    border-radius: 3px
    width: 8px
    height: 2px
    top: 50%
    transform: translate(0,-50%)
  &:before
    transform: rotate(-135deg)
    left: 5.5px
  &:after
    transform: rotate(-45deg)
    right: 5.5px
