@import "vars"

/*==========  Desktop First  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px)
  .sidebar-menu
    font-size: 14px

    li
      margin: 0 0 15px

  .calculation-coin
    font-size: 30px

  .pedcoin-item
    padding: 30px

  .forum-item__body .list-characteristics
    max-width: none
    width: auto
    li
      margin-left: 20px

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px)
  .menu
    font-size: 12px
    padding: 15px

  .footer-menu
    li
      margin: 0 0 12px

  footer
    .box-text
      margin: 20px 0
      font-size: 14px

  .footer-top
    padding: 30px 0

  .footer-bottom
    padding: 15px 0

  .card-news__name
    font-size: 16px

  .main
    margin: -102px 0 40px

  .instruction-col
    width: 33.3%

  .pedcoin-item__img
    margin: 30px auto 0
    height: auto

  .pedcoin-item-two .pedcoin-item__img
    height: auto


/* Small Devices, Tablets */
@media only screen and (max-width: 768px)
  .btn-burger
    display: flex

  .btn
    font-size: 14px

  .sorting-wrapper
    justify-content: center

  .list-sorting
    margin: 0
    width: 100%
    li
      margin: 0 0 4px 0
      &:last-child
        margin: 0 0 4px

  .wrapper-content
    padding: 30px 10px 15px

  .footer-box h3
    margin: 0 0 15px

  .footer-wrapper
    justify-content: space-between
    margin: 30px 0 0

  .payment-course-item
    margin: 0 auto
    max-width: none

  .main
    margin: 20px 0 40px
    .banner-name
      padding: 100px 0

  h2
    font-size: 30px

  .webinar-description
    padding: 0

  .webinar-author__box
    padding: 0
    width: 100%

  .webinar-author__certificate
    margin: 70px auto 0

  .webinar-img
    height: 200px

  .card-article
    flex-direction: column
    align-items: flex-start
    &__img
      width: 100%
      height: 200px
    &__body
      width: 100%
      padding: 20px

  .instruction-col
    width: 50%

  .instruction-box h3
    font-size: 20px

  .instruction-box p
    font-size: 16px

  .forum-item__body .list-characteristics
    width: 100%
    margin: 10px 0 0
    li
      margin: 0 auto

  .notification-text
    display: none

  .notification-val
    margin: 0

  .notification
    margin: 0 10px 0 auto

  .nav-item-language
    margin-right: 10px

/* Extra Small Devices, Phones */
@media only screen and (max-width: 576px)
  header
    .btn-cabinet
      padding: 5px 10px
      .btn-text
        display: none
      .btn-icon
        margin: 0

  .location-icon
    width: 14px
    height: 14px
    min-width: 14px

  .nav-item-language
    margin: 0 10px 0 auto

@media only screen and (max-width: 480px)
  .nav-link-lang
    font-size: 12px

  .notification-icon
    width: 20px
    height: 20px
    min-width: 20px

  .footer-menu
    font-size: 14px

  .card-course .btn
    font-size: 16px

  .card-webinar .card-news__img, .card-my-course .card-news__img
    height: 180px

  h2
    font-size: 24px

  .pedcoin-item__content .box-text
    font-size: 14px

  .pedcoin-item__img .img
    max-width: 60px
    min-width: 60px

  .stages-money
    width: 204px
    padding: 6px 30px 6px 50px
    margin: 0 0 0 -50px
    font-size: 8px
    li
      margin: 0 0 4px
    .num
      width: 28px
      font-size: 18px
    p
      font-size: 12px

  .pedcoin-item__content .box-text
    margin: 20px 0 0
    p
      margin: 0 0 10px

  .instruction-col
    width: 100%

  .instruction-section
    margin: 30px 0

  .calculation-coin .coin
    width: 70px

  .calculation-coin
    font-size: 20px

  .equally
    font-size: 40px

  .forum-item__name
    font-size: 16px

  .forum-item
    padding: 16px

  .forum-item__content
    padding: 0 0 0 16px

  .forum-title-wrapper
    margin: 0 0 30px
    .box-text
      width: calc(100% - 20px)
      padding: 0 0 0 10px
    .icon
      width: 20px
      height: 20px
      min-width: 20px

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px)
  .webinar-author__box-wrap
    flex-wrap: wrap
    .box-text
      margin: 20px auto 0
      width: 100%
      padding: 0
      text-align: center

  .webinar-author__photo
    margin: 0 auto

  .card-article
    &__img
      height: 160px

  .pedcoin-item
    padding: 30px 20px


