@import "vars"

.payment-page
  .payment-course-item
    margin: 0
  .wrapper-content
    padding: 24px 15px

.number-lessons
  margin: 4px auto 24px
  display: flex
  align-items: center
  justify-content: center
  color: $accent
  font-weight: 500
  font-size: 14px
  p
    display: flex
    align-items: center
    &:after
      content: ''
      display: inline-block
      background: $accent
      width: 4px
      height: 4px
      border-radius: 50%
      margin: 0 8px
    &:last-child
      &:after
        display: none

.number-participants
  text-align: center
  display: flex
  flex-direction: column
  align-items: center
  font-size: 16px

.amount
  width: 100%
  margin: 16px auto 0
  display: flex
  align-items: center
  justify-content: center
  input
    width: 68px
    border: none
      radius: 0
    padding: 0
    text-align: center
    height: 42px
    color: #434343
    font-size: 24px
    font-weight: bold
  span
    display: flex
    align-items: center
    justify-content: center
    background: #FFF7EB
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.03)
    width: 42px
    height: 42px
    min-width: 42px
    border: 1px solid #FFB74B
      radius: 50%
    position: relative
    cursor: pointer
    &:before
      content: ''
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      background: #434343
      width: 12px
      height: 3px
  .up
    &:after
      content: ''
      position: absolute
      left: 50%
      top: 50%
      transform: translate(-50%,-50%)
      width: 3px
      height: 12px
      background: #434343

.payment-info
  padding: 30px 0 0

.list-checked
  margin: 0 0 24px
  li
    display: flex
    align-items: center
    margin: 0 0 17px
    &:before
      content: ''
      display: inline-block
      width: 34px
      height: 34px
      min-width: 34px
      margin: 0 12px 0 0
      background: url("../img/checked.svg") no-repeat center
        size: contain

.sales-payment
  width: 100%
  background: #FFF7EB
  border: 1px solid #FFB74B
    radius: 10px
  padding: 16px 17px
  color: #737373
  font-size: 14px
  p
    margin: 0 0 5px
    &:last-child
      margin: 0
    span
      font-weight: 500
    .star-decor
      font-weight: normal


