@import "vars"

.title-line
  width: 100%
  display: flex
  align-items: center
  justify-content: space-between
  flex-wrap: wrap
  margin: 0 0 20px
  h1
    width: fit-content
    margin: 0

.rating-school
  .dropdown-my
    margin: 0 0 32px
  &__img
    max-width: 413px
    width: 100%
    display: flex
    align-items: center
    img
      width: 100%

.dropdown-my
  width: fit-content
  .dropdown-toggle
    border-radius: 0
    &:after
      background: url("../img/arrow-right.svg") no-repeat center
        size: 100%
      padding: 0
      width: 16px
      height: 16px
  .dropdown-menu
    width: 100%
    margin: 0
    max-width: none
    border-radius: 0
    &:before
      display: none
    .active
      background: rgba(196, 196, 196, 0.12)
    .dropdown-item
      padding: 6px 10px

.list-rating-school
  font-size: 16px
  font-weight: 500
  padding: 0 0 0 20px
  li
    margin: 0 0 14px
    a
      color: $accent
      &:hover
        color: $grey
    &::marker
      color: $accent

.table-rating-school
  border: 0.5px solid rgba(255, 183, 75, 0.5)
  background: transparent
  padding: 0
  margin: 0
  box-shadow: none
  border-radius: 0
  font-size: 14px
  font-weight: 500
  .td, .th
    padding: 11px 12px
    &:first-child
      width: 5%
    &:nth-child(2)
      width: 81%
    &:last-child
      width: 14%
      text-align: right
  .thead
    background: linear-gradient(180deg, rgba(255, 183, 75, 0.6) 0%, #FFA825 100%)
    color: #fff
    letter-spacing: -0.02em
    font-size: 14px
    font-weight: 500
  h4
    margin: 0
    font-size: 14px
  .tbody
    .tr
      &:nth-child(odd)
        background: #FFF9F0

.table-rating-school__address
  a
    color: #C4C4C4
    font-weight: normal
    letter-spacing: -0.02em
    font-size: 12px

.table-rating-school__number
  font-weight: normal

.tr-first
  color: $accent

.pagination-wrapper
  margin: 26px 0 0
  padding: 22px 0
  position: relative
  display: flex
  align-items: center
  flex-wrap: wrap
  &:before
    content: ''
    position: absolute
    left: 50%
    top: 0
    transform: translate(-50%,0)
    width: calc(100% + 60px)
    height: 1px
    background: #E3E3E3

.pagination-nav
  margin: 0 auto

.pagination
  border-radius: 0
  .page-item
    margin: 0 6px 0 0
    &:last-child
      margin: 0
  .page-link
    border: 1px solid #FFB74B
      radius: 3px
    background: #FFF7EB
    display: flex
    align-items: center
    justify-content: center
    width: 38px
    height: 38px
    padding: 0
    min-width: 38px
    color: #FFB74B
    font-size: 18px
    font-weight: bold
    &:hover
      background: $accent
      color: #fff
  .page-link-dots
    background: transparent
    border: none

.page-item:first-child .page-link
  border-radius: 3px

.page-item.active .page-link
  background: linear-gradient(180deg, rgba(255, 183, 75, 0.6) 0%, #FFA825 100%)
  color: #fff
  border: none

.links-page
  display: flex
  align-items: center
  justify-content: center
  width: 94px
  height: 38px
  background: linear-gradient(180deg, rgba(255, 183, 75, 0.6) 0%, #FFA825 100%)
  border-radius: 18px
  &:hover
    background: linear-gradient(to top, rgba(255, 183, 75, 0.6) 0%, #FFA825 100%)

.rating-school-info
  .box-text
    max-width: 336px
    p
      margin: 0 0 20px
      &:last-child
        margin: 0

.rating-school-two
  .title-line
    margin: 0 0 32px

.category-rating-school
  margin: 80px 0 48px

.category-rating__links
  background: #fff
  width: 100%
  height: 100%
  box-shadow: 0px 0px 10px 4px rgba(0, 0, 0, 0.04)
  padding: 16px
  color: #434343
  font-size: 16px
  font-weight: 500
  position: relative
  &:before
    content: ''
    position: absolute
    left: 0
    top: 0
    width: 100%
    height: 5px
    background: linear-gradient(180deg, rgba(255, 183, 75, 0.6) 0%, #FFA825 100%)

.how-to-lift
  margin: 0 0 35px

.how-to-lift__question
  position: relative
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.07)
  padding: 36px 62px 10px 69px
  min-height: 185px
  border: 5px solid $accent
    radius: 40px
  width: calc(100% - 56px)
  margin: 0 0 0 auto
  &:before
    content: ''
    position: absolute
    top: 50%
    left: -56px
    transform: translate(0,-50%)
    width: 106px
    height: 124px
    background: url("../img/question-icon.svg") #fff no-repeat center
      size: 100%
  h4
    color: $accent
    margin: 0 0 15px
    font-size: 24px
    font-weight: 500

.how-to-lift-links
  width: 100%
  filter: drop-shadow(0px 0px 10px rgba(0, 0, 0, 0.07))
  position: relative
  margin: 0 0 13px
  border: 2px solid #FFB74B
    radius: 20px
  background: #FFF7EB
  color: #FFB74B
  font-size: 18px
  font-weight: 500
  padding: 19px 24px
  display: flex
  align-items: flex-end
  &__icon
    width: 21px
    min-width: 21px
    height: 21px
    display: flex
    align-items: center
    justify-content: center
    margin: 0 0 0 auto
    fill: $accent
  &:hover
    color: $grey
  &:last-child
    margin: 0



